@import url(https://fonts.googleapis.com/css?family=Cousine);

body {
  margin: 30px 60px;
  font-family: "Cousine", monospace;
  font-size: 16px;
  line-height: 23px;
  display: none;
}

span {
  /*display:none*/
}

#message-me-head {
  cursor: grab;
}

#other-writing-head{
  opacity: 0;
  font-size: 12px;
  margin-top: 25px;
  color: blue;
}
.heading {
  /* font-weight: bold; */
  cursor: pointer;
  margin-bottom: 200px;
}

.heading-alt {
  /* font-weight: bold; */
  cursor: pointer;
  margin-bottom: 200px;
}

#bio,
#bio-line {
  font-weight: bolder;
}
#counter {
  /* position: absolute; */
  top: 5px;
  top: 68px;
  opacity: 0;
  color: #e7e7e7;
  font-size: 20px;
  width: 15px;
}
#counter:hover {
  opacity: 1;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

#wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}
#projects-head-sub {
  margin-top: 10px;
}
#info {
  /* margin-left: 50px; */
}
#sub-cats,
#info {
  /* border: 1px solid black; */
  min-width: 300px;
  min-height: 300px;
  /* width: 250px; */
  max-width: 300px;
}
#categories {
  min-width: 250px;
  max-width: 300px;
  min-height: 250px;
}
#sub-cats {
  min-width: 320px;
}
#categories,
#links {
  margin: 10px 0 30px 0;
  /* display: flex;
  flex-direction: column */
}

#categories > li {
  margin-bottom: 10px;
}
#sub-cats {
  /* display: flex;
  flex-direction: column */
  /* max-height: 100px;
  overflow: scroll; */
}

.hrotate {
  display: inline-block;
  color: red;
  font-weight: bold;
  -webkit-transition: transform 2000ms ease-out;
  -moz-transition: transform 2000ms ease-out;
  -ms-transition: transform 2000ms ease-out;
  -o-transition: transform 2000ms ease-out;
  transition: transform 2000ms ease-out;

  -webkit-transform: rotate(1990deg);
  -moz-transform: rotate(1990deg);
  -ms-transform: rotate(1990deg);
  -o-transform: rotate(1990deg);
  transform: rotate(1990deg);
}

.bhrotate {
  display: inline-block;
  color: red;
  font-weight: bold;
  -webkit-transition: transform 2000ms ease-out;
  -moz-transition: transform 2000ms ease-out;
  -ms-transition: transform 2000ms ease-out;
  -o-transition: transform 2000ms ease-out;
  transition: transform 2000ms ease-out;

  -webkit-transform: rotate(-1800deg);
  -moz-transform: rotate(-1800deg);
  -ms-transform: rotate(-1800deg);
  -o-transform: rotate(-1800deg);
  transform: rotate(-1800deg);
}

.rotate {
  display: inline-block;
  color: red;
  font-weight: bold;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -ms-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;

  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.back-rotate {
  display: inline-block;
  -webkit-transition: transform 500ms ease-out;
  -moz-transition: transform 500ms ease-out;
  -ms-transition: transform 500ms ease-out;
  -o-transition: transform 500ms ease-out;
  transition: transform 500ms ease-out;

  -webkit-transform: rotate(-360deg);
  -moz-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  -o-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.scatterx {
  transition: transform 6000ms;
  transform: translatex(1000px);
}
.scattermx {
  transition: transform 8000ms;
  transform: translatex(-1000px);
}
.scattery {
  transition: transform 8000ms;
  transform: translatey(1000px);
}
.scattermy {
  transition: transform 8000ms;
  transform: translatey(-1000px);
}

.body-rotate {
  -webkit-transition: transform 80000ms;
  transform: rotate(-3600deg);
}

.body-rotatem {
  -webkit-transition: transform 80000ms;
  transform: rotate(3600deg);
}

#links-head,
#projects-head,
#bio,
#other-head,
#press-head,
#other-writing-head,
#writing-head, #research-head, #message-me-head {
  /* font-weight: bolder; */
  position: relative;
}
.heading {
}

#info {
  font-size: 12px;
  /* position: fixed; */
  top: 22%;
  left: 40%;
  width: 350px;
  height: 250px;
  /* margin: 0px !important; */
  padding: 20px;
  /* display: none; */
  /* position: absolute; */
}

.sub-cat > li > a > span {
  /* display: none; */
  opacity: 0;
}

#info > span {
  opacity: 0;
}

.heading {
  /* font-style: bolder */
  /* margin-bottom: 20px; */
}

._ {
  display: none;
}

.link,
.project {
  font-size: 12px;
  /* min-height: 50px;
 min-width: 500px; */
}

.other_project {
  /*font-size: 12px;
  line-height: 20px;*/
}

#c {
  font-size: 11px;
  margin-bottom: 0px;
  margin-top: 0px;
  opacity: 0.6;
}

span {
  /*padding: 1px;*/
}

#corner-1,
#corner-2,
#corner-3,
#corner-4 {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
}
#corner-1 {
  left: 2%;
  top: 2%;
  display: none;
}
#corner-2 {
  right: 2%;
  top: 2%;
  display: none;
}

#corner-3 {
  left: 2%;
  bottom: 2%;
  display: none;
}
#corner-4 {
  right: 2%;
  bottom: 2%;
}

.serp-icon {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 40%;
  top: 40%;
}

:root {
  --transform-time: 120ms;
  --degrees: 15deg;
  --neg-degrees: -15deg;
}

.srotate {
  display: inline-block;
  /* color: red;
  font-weight: bold; */
  -webkit-transition: transform var(--transform-time);
  -moz-transition: transform var(--transform-time);
  -ms-transition: transform var(--transform-time);
  -o-transition: transform var(--transform-time);
  transition: transform var(--transform-time);

  -webkit-transform: var(--transform-time);
  -moz-transform: rotate(var(--degrees));
  -ms-transform: rotate(var(--degrees));
  -o-transform: rotate(var(--degrees));
  transform: rotate(var(--degrees));
}

.sback-rotate {
  display: inline-block;
  -webkit-transition: transform var(--transform-time);
  -moz-transition: transform var(--transform-time);
  -ms-transition: transform var(--transform-time);
  -o-transition: transform var(--transform-time);
  transition: transform var(--transform-time);

  -webkit-transform: rotate(var(--neg-degrees));
  -moz-transform: rotate(var(--neg-degrees));
  -ms-transform: rotate(var(--neg-degrees));
  -o-transform: rotate(var(--neg-degrees));
  transform: rotate(var(--neg-degrees));
}

#spaceship-container {
  text-align: center;
  margin: 20px 0;
}

#rocket-emoji {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

#spaceship-container {
  text-align: center;
  margin: 20px 0;
}

#gattaca-spaceship {
  transition: all 0.3s ease;
  cursor: pointer;
}

#bottom-right-text {
  position: fixed;
  bottom: 0px;
  left: 10px;
  font-size: 2px;
  color: #666;
  font-family: Arial, sans-serif;
  z-index: 1000;
}
